// _base.scss
// ==============
html {
  font-size: 62.5%;
  @include media('screen','>=mobl') {
    font-size: 93.75%;
  }
}
body {
  //background: lighten($beige, 10%);
  font-family: $bodyFont;
  @include rem-px(font-size, 1.5);
  padding: 0;
  margin: 0;
}
 
#content {
  color: $pink;
  @include rem-px(font-size, 1.5);
}
 
.container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
  @include media('>=tab') {
    width: 90%;
  }
}
 
#{headings()} {
  font-family: $headFont;
  font-size: 3em;
}
 
h1 {
  @include rem-px(font-size, 3.5);
  margin-bottom: 10px;
  color: $green;
 
  @include media('screen', '<sm') {
    @include rem-px(font-size, 2.5);
  }
}
 
h2 {
  @include rem-px(font-size, 1.5);
  color: $purple;
}
 
p {
  @include rem-px(font-size, 1.4);
  line-height: 1.5em;
  margin-bottom: 20px;
    margin-top: 15px;
}
 
section {
  padding: 20px 0;
}
 
.artgroup {
    @include clearfix;
} //artgroup


/******************************************
Header
******************************************/
#header {
  /*
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  */
  padding: 25px 0;
  color: #fff;
  
  background-color: #114394;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#114394+0,11a7bf+100 */
background: #114394; /* Old browsers */
background: -moz-linear-gradient(left, #114394 0%, #11a7bf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #114394 0%,#11a7bf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #114394 0%,#11a7bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#114394', endColorstr='#11a7bf',GradientType=1 ); /* IE6-9 */
  
  #nav {
    background: none;
    border: none;
    padding: 0;
    
    li a {
      color: $header_text_color;
    }
  }
  #mega-menu-wrap-main_nav {
    background: none;
  }
  
}
/******************************************
Header Nav
******************************************/
#mega-menu-wrap-main_nav #mega-menu-main_nav > li.mega-menu-item > a.mega-menu-link {
  color: $header_text_color;
}
.navbar-default .navbar-toggle {
  .icon-bar {
    background: $header_text_color;
  }  
}
.contact-wrap { 
   @include rem-px(margin, -1, 0, 1, 0);
  
  @include media('screen','>=md') {
    z-index: 99;
    position: relative;
    float: right;
   @include rem-px(margin, 0, 0, 0, 0);
  }
  
  a {
    position: relative;
    color: $header_text_color;
    @include rem-px(font-size, 1.5);
    font-family: $headFontRal;
    text-transform: uppercase;
    @include rem-px(margin-left, 4.5);
  }
}
@include media('screen','>=xl') {
  #nav .navbar-collapse {
    float: right;
    clear: right;
  }  
}

@media(min-width: 768px) {  
  .call-us:before {
    content: "Call Us";
    text-transform:  uppercase;
    font-family: $headFontRal;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    left: 35px;
    bottom: 100%;
  }
}
.call-us span {
  font-family: $headFont;  
}
.email-us span {
  font-weight: normal;  
}
.contact-wrap .fa {
  @include rem-px(font-size, 2.5);
  @include rem-px(margin-right, 1.2);
}
/******************************************
Header End
******************************************/
/******************************************
Footer
******************************************/

#footer {
  @include rem-px(padding, 1.8, 0);
  background: #fff;
  color: #212121;
  border: none;
  color: #212121;
  .container {
    border-top: 1px solid #ccc;
    .row {
      @include rem-px(padding-top, 3);
      @include rem-px(padding-bottom, 3);
    }
  }
  .cwidget-f {
    @include rem-px(padding-top, 1);
    @include rem-px(padding-bottom, 1);
  }
}
.navbar-col3 {
  font-family: $headFont;
  @include rem-px(font-size, 1.4);
  font-size: 14px;
  li {
    float: left;
    width:50%;
    
    @include media('screen', '>=sm', '<md') {
        width:25%;
    }
    @include media('screen', '>=lg') {
        width:33%;
      letter-spacing: 1px;
    }
  }
  a {
    color: $footer_text_color;
    @include rem-px(padding, 1);
    font-weight: 600;
    text-transform: uppercase;
  }
}
.navbar-nav>li>a {
    padding: 10px 10px 10px 0;
}
.cwf2 {
  font-family: $headFont;
  font-weight: normal;
  letter-spacing: 1.2px;
  text-transform:  uppercase;
  color: $footer_text_color;
  font-size: 14px;
  img {
    display: block;    
    @include rem-px(margin-bottom, 1);
  }
  .hl-lb {
    color: $light_blue;
  }
}
.cwf3 {
  p {
    margin: 0;  
    line-height: 1.4;
  }
  .title-pf {
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
  }
  .phone-f-cont a {
    font-family: $headFont;
    @include rem-px(font-size, 1.4);
    font-weight: 800;
    color: #000;
  }
  .addr-cont-f a {
    font-weight: 600;
    color: #000;
    font-size: 15px;
  }
}

/******************************************
Footer End
******************************************/