// _base.scss
// ==============
body {
  //background: lighten($beige, 10%);
  font-family: $bodyFont;
  font-size: 1.1em;
  padding: 0;
  margin: 0;
}
 
#content {
  color: $pink;
  font-size: 2em;
}
 
.container {
  width: 90%;
  max-width: 1800px;
  margin: 0 auto;
  position: relative;
}
 
#{headings()} {
  font-family: $headFont;
  font-size: 3em;
}
 
h1 {
  font-size: 3.5em;
  margin-bottom: 10px;
  color: $green;
 
  @media (max-width: 700px) {
    font-size: 2.2em;
  }
}
 
h2 {
  font-size: 1.5em;
  color: $purple;
}
 
p {
  font-size: 1.3em;
  line-height: 1.5em;
    color: $purple;
  margin-bottom: 20px;
    margin-top: 15px;
}
 
section {
  padding: 20px 0;
}
 
.artgroup {
    @include clearfix;
} //artgroup


/******************************************
Header
******************************************/
#header {
  /*
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  */
  padding: 25px 0;
  color: #fff;
  
  background-color: #114394;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#114394+0,11a7bf+100 */
background: #114394; /* Old browsers */
background: -moz-linear-gradient(left, #114394 0%, #11a7bf 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #114394 0%,#11a7bf 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #114394 0%,#11a7bf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#114394', endColorstr='#11a7bf',GradientType=1 ); /* IE6-9 */
  
  #nav {
    background: none;
    border: none;
    padding: 0;
    
    li a {
      color: $header_text_color;
    }
  }
  #mega-menu-wrap-main_nav {
    background: none;
  }
  
}
/******************************************
Header Nav
******************************************/
#mega-menu-wrap-main_nav #mega-menu-main_nav > li.mega-menu-item > a.mega-menu-link {
  color: $header_text_color;
}
.navbar-default .navbar-toggle {
  .icon-bar {
    background: $header_text_color;
  }  
}
.contact-wrap { 
   @include rem-px(margin, -1, 0, 1, 0);
  
  @media (min-width: 768px) {
    float: right;
   @include rem-px(margin, 0, 0, 0, 0);
  }
  
  a {
    position: relative;
    color: $header_text_color;
    @include rem-px(font-size, 1.5);
    font-family: $headFontRal;
    text-transform: uppercase;
    @include rem-px(margin-left, 4.5);
  }
}
@media (min-width: 1200px) {
  #nav .navbar-collapse {
    float: right;
    clear: right;
  }  
}

@media(min-width: 768px) {  
  .call-us:before {
    content: "Call Us";
    text-transform:  uppercase;
    font-family: $headFontRal;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    left: 35px;
    bottom: 100%;
  }
}
.call-us span {
  font-family: $headFont;  
}
.email-us span {
  font-weight: normal;  
}
.contact-wrap .fa {
  @include rem-px(font-size, 2.5);
  @include rem-px(margin-right, 1.2);
}
/******************************************
Header End
******************************************/
/******************************************
Footer
******************************************/

#footer {
  @include rem-px(padding, 1.8, 0);
  background: #fff;
  color: #212121;
  border: none;
  color: #212121;
  .container {
    border-top: 1px solid #ccc;
    .row {
      @include rem-px(padding-top, 3);
      @include rem-px(padding-bottom, 3);
    }
  }
}

/******************************************
Footer End
******************************************/